.myform .error {
    color: red;
}

.myform fieldset {
    background: #eee;
    padding: 20px;
    border: 0;
}

.myform .row {
    display: flex;
    margin: 10px 0;
}

.myform .col1 {
    margin-right: 20px;
    min-width: 100px;
}

.myform .col2 {
    min-width: 300px;
}

.myform .col2 input:not([hidden]) {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #999;
}

.myComponent .drop_zone {
  padding: 50px 10px;
  text-align: center;
  border: dashed 1px #999;
  background: white;
}

.myComponent .drop_zone.dragging {
  background: #b5d4fc;
}

.myComponent .drop_zone.dragging .prompt {
  opacity: 0.5;
  pointer-events: none;
}

.myComponent .file-manager {
    padding: 0;
    margin: 10px 0;
}

.myComponent .file-manager li {
  border-bottom: solid 1px #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
