body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    margin: 0;
}

header {
    margin: 1em 0 0;
    padding: 0 0 1em 0;
    /* border-bottom: solid 1px #F0F0F0; */
}

header img {
    display: block;
    width: 120px;
    height: auto;
}

@media (min-width: 768px) {
    header img {
        width: 180px;
    }
}

main {
    margin: 1em;
}

section {
    margin-bottom: 2em;
}

h1 {
    line-height: 1.3;
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 500;
}

h2 {
    font-size: 19px;
    margin-top: 1.5em;
    margin: 1.5em 0 0.25em 0;
}

p {
    margin-top: 0.5em;
    max-width: 80ch;
}

a {
    color: #3671e7;
    word-wrap:break-word;
    word-break: break-all; /* in case word-wrap is not supported */
}

table {
    border-collapse: collapse;
    font-size: inherit;
}

th {
    padding-right: 1em;
    line-height: 1.2;
    vertical-align: bottom;
    padding-bottom: 0.5em;
}

td {
    padding: 0.2em 1em 0.2em 0;
    vertical-align: top;
    line-height: 1.3;
}

td p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

td p:first-child {
    margin-top: 0;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    font-weight: 700;
    width: 15ch;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

li span {
    font-weight: 700;
}

footer {
    margin: 2em 1em 1em;
    border-top: solid 1px #F0F0F0;
    padding-top: 0.75em;
    text-align: right;
    font-size: 0.9em;
    color: #999;
}

footer img {
    margin-right: 2px;
}

footer span,
footer img {
    vertical-align: middle;
}

.meta {
    text-align: right;
}

.meta li {
    display: block;
    background: #e9e9e9;
    padding: 0.35em 0.6em;
    border-radius: 0.5em;
    font-weight: 600;
    text-align: left;
    line-height: 1.2;
    font-size: 14px;

    display: inline-block;
    margin-left: 0.1em;
}

.meta li span {
    font-weight: 500;
    font-size: 11px;
    color: #666;
    display: none;
}

@media (min-width: 768px) {
   .meta li span {
        display: block;
        padding-right: 1.2em;
    } 
}

/* Call to action styles */
.cta {
    margin: 1em auto;
    padding: 2em 0;
    text-align: center;
    max-width: none;
    box-sizing: border-box;
}
.cta a.button {
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background: #3671e7;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    margin-bottom: 1em;
}

.cta a.button__secondary {
    background: #9e0812;
}
.cta--background {
    background: #F3F4F6;
}
.cta a.link {
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    font-weight: 500;
}
@media (min-width: 768px) {
    .cta {
        padding: 2em 1em;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }
    .cta a.button,
    .cta a.link {
        display: inline-block;
        margin: 0 auto;
    }    

    .cta a + a.button,
    .cta a + a.link {
        margin-left: 2em;
    }
}

.pin {
    text-align: center;
    background: #F3F4F6;
    padding: 2em 1em 3em;
    margin: 1em 0;
    box-sizing: border-box;
    max-width: none;
}
.pin span {
    display: block;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.4em;
    margin-bottom: 0.5em;
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}
@media (min-width: 768px) {
    .pin {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }
}

.footnote {
    font-size: 0.9em;
    padding: 1em 1.5em;
    background: #F3F4F6;
}

.footnote p {
    max-width: 80ch;
}

.banner {
    padding: 0.5em 1em;
    background: #fdc04c;
    font-weight: 500;
    margin: 1em 0;
}

.wrapper {
    margin: 1em 0;
    padding-bottom: 2em;
    width: 100%;
    /* background: #F3F4F6; */
    border-bottom: solid 1px #F0F0F0;
}



.wrapper table {
    margin-top: 0.25em;
}


.wrapper h2 {
    padding-bottom: 0.15em; 
    margin: 0;
}

.wrapper--table {
    overflow-x: auto;
}

.wrapper--table h2 {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wrapper--table table {
    border-collapse: separate;
    margin-top: 0;
    font-size: 13px;
}

.wrapper--table table td, 
.wrapper--table table th {
        text-align: left;
        padding: 0.5em
}

.wrapper--table table tr:nth-child(even) td {
    background: #F3F4F6;
}

.wrapper--table table td:first-child {
    font-weight: normal;
}

.wrapper--table table tr th {
    background: #555;
    color: white;
}
