body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    margin: 0;
    background: #ccc;
}

main {
    margin: 0 auto 0.5em;
    max-width: 768px;
    background: white;
    padding: 1em;
    box-sizing: border-box
}


section {
    margin-bottom: 2em;
}

section:last-child {
    margin-bottom: 0;
}

h1 {
    line-height: 1.3;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    margin-top: 1.5em;
    margin: 1.5em 0 0.25em 0;
}

p {
    margin-top: 0.5em;
}

a {
    color: #3671e7;
    word-wrap:break-word;
}

table {
    border-collapse: collapse;
    font-size: inherit;
}

th {
    padding-right: 1em;
    line-height: 1.2;
    vertical-align: bottom;
    padding-bottom: 0.5em;
}

td {
    padding: 0.2em 1em 0.2em 0;
    vertical-align: top;
    line-height: 1.3;
}

td p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

td p:first-child {
    margin-top: 0;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    font-weight: 700;
    width: 15ch;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

li span {
    font-weight: 700;
}

body > footer img {
    margin-right: 2px;
}

body > footer span,
body > footer img {
    vertical-align: middle;
}

body > header a,
body > footer a {
    color: #555;
}

body > header,
body > footer {
    margin: 1em auto 0;
    font-size: 0.9em;
    color: #555;
    max-width: 768px;
    padding: 0 1em 1em;
}

body > footer {
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    body > header,
    body > footer {
        padding-left: 0;
        padding-right: 0;
    }
}

body > header *:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    margin: 0;
    padding: 0 0 1em 0;
    /* border-bottom: solid 1px #F0F0F0; */
}

.header img {
    display: block;
    width: 120px;
    height: auto;
}

@media (min-width: 768px) {
    .header img {
        width: 180px;
    }
}


.center {
    text-align: center;
}

.meta {
    text-align: center;
    margin: 1.5em auto;
    padding: 2em;
    background: #f0f0f0;
}

.meta li {
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    font-size: 14px;
    margin-bottom: 0.65em;
}

.meta li:last-child {
    border-right: none;
}

.meta li span {
    font-weight: normal;
}

.meta li span::after {
    content: ":";
    margin-right: 0.25em;
}

@media (min-width: 768px) {
    .meta li {
        border-right: dotted 1px #999;
        display: inline-block;
        padding: 0 1.5em;
        font-size: 15px;
        margin-bottom: 0;
    }

    .meta li span {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #666;
    }

    .meta li span::after {
        content: none;
        margin-right: 0;
    }
}

/* Call to action styles */
.cta {
    margin: 1em auto;
    padding: 2em 0;
    text-align: center;
    max-width: none;
    box-sizing: border-box;
}
.cta a.button {
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background: #3671e7;
    color: white;
    padding: 0.55em 1.5em;
    text-decoration: none;
    margin-bottom: 1em;
    border-radius: 20px;
    font-weight: 500;
}

.cta a.button__secondary {
    background: #9e0812;
}
.cta--background {
    background: #F3F4F6;
}
.cta a.link {
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    font-weight: 500;
}
@media (min-width: 768px) {
    .cta {
        padding: 2em 1em;
        margin-left: auto;
        margin-right: auto;
    }
    .cta a.button,
    .cta a.link {
        display: inline-block;
        margin: 0 auto;
    }    

    .cta a + a.button,
    .cta a + a.link {
        margin-left: 2em;
    }
}

.pin {
    text-align: center;
    background: #F3F4F6;
    padding: 2em 1em 3em;
    margin: 1em 0;
    box-sizing: border-box;
    max-width: none;
}
.pin span {
    display: block;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.4em;
    margin-bottom: 0.5em;
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}
@media (min-width: 768px) {
    .pin {
        margin-left: auto;
        margin-right: auto;
    }
}

.footnote {
    font-size: 0.9em;
    padding: 1em 1.5em;
    background: #F3F4F6;
}

.footnote p {
    max-width: 80ch;
}

.banner {
    padding: 0.5em 1em;
    background: #fdc04c;
    font-weight: 500;
    margin: 0 auto;
    max-width: 768px;;
    text-align: center;
    box-sizing: border-box;
}

.wrapper {
    margin: 1em 0;
    padding-bottom: 2em;
    width: 100%;
    /* background: #F3F4F6; */
    border-bottom: solid 1px #F0F0F0;
}

.wrapper:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wrapper table {
    margin-top: 0.25em;
}


.wrapper h2 {
    padding-bottom: 0.15em; 
    margin: 0;
}

.wrapper--table {
    overflow-x: auto;
}

.wrapper--table h2 {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wrapper--table table {
    border-collapse: separate;
    margin-top: 0;
    font-size: 13px;
}

.wrapper--table table td, 
.wrapper--table table th {
        text-align: left;
        padding: 0.5em
}

.wrapper--table table tr:nth-child(even) td {
    background: #F3F4F6;
}

.wrapper--table table td:first-child {
    font-weight: normal;
}

.wrapper--table table tr th {
    background: #555;
    color: white;
}
